* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #80B9AD;
}
.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.resume img {
    max-width: 100%;
    height: auto;
}
nav {
    background: #F1E5D1;
    height: 80px;
    width: 100%;
}
label.logo {
    color: #58B368;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #58B368;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover {
    background: #CFF6C6;
    transition: 0.5s;
}
nav ul .fa {
    margin-right: 8px;
}
.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
	
	
	